
# NetBeans
nbproject/private/

# Build files
build/
dist/
out/
build/classes/

# Java class files
*.class

# Logs
*.log

src/controller/LoginController.java
src/controller/RegistrationController.java
src/database/MySqlConnection.java
src/model/userdata.java
src/controller/LoginController.java
src/controller/RegistrationController.java
src/database/MySqlConnection.java
src/model/userdata.java
